{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}

{% if fieldsets[0].name|length>0 %}
    <h1>{{ fieldsets[0].name }}</h1>
{% endif %}
<div class="separator"></div>
{% for fieldset in fieldsets %}
    <fieldset>
        {% if fieldset.hasLayout() %}
            {{ fieldset.render()|raw }}
        {% else %}    
            {% for control in fieldset.controls() %}                
                <div class="col-group">
                    <div class="form-block">
                        <div class="col-dt-14 col-14 col-mb-14">
                            <label for="{{ control.attributes.attributes.id }}" class="form-block__name">
                                {{ control.getField(row, control, [])|raw }} {{  control.label|raw }}
                            </label>
                        </div>
                    </div>
                </div>
            {%endfor %}
        {%endif %}
    </fieldset>
{%endfor %}

{% if buttons is not empty %}
    <div class="app-content__footer">
        <div class="btn-group">
            {% for button in buttons %}
                {{ button.getField(row, button, [])|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{{ Form.close()|raw }}