{{ Form.open(form|merge({'class':'form--hor'}))|raw }}
{% if(token) %}
    {{ Form.token() }}
{% endif %}    
{% for hidden in hiddens %}
    {{ hidden|raw }}
{% endfor %}

{% if fieldsets[0].name|length>0 %}
    <fieldset>
        <legend>{{ fieldsets[0].name }}</legend>
    </fieldset>
{% endif %}
{% for fieldset in fieldsets %}
    <fieldset>
        {% if fieldset.hasLayout() %}
            {{ fieldset.render()|raw }}
        {% else %}    
            {% for control in fieldset.controls() %}                
                <div class="form-block">
                    <div class="col-group">
                        <div class="col-mb-24">
                            <label for="{{ control.attributes.attributes.id }}" class="form-block__name {{ control.has('labelClass') ? control.labelClass : '' }}">
                                {{ control.getField(row, control, [])|raw }} {{  control.label|raw }}
                            </label>
                        </div>
                    </div>
                </div>
            {%endfor %}
        {%endif %}
    </fieldset>
{%endfor %}

{% if buttons is not empty %}
    <div class="app-content__footer">
        <div class="btn-group">
            {% for button in buttons %}
                {{ button.getField(row, button, [])|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}
{{ Form.close()|raw }}